# 2D Sod-x
dim = 2

nx = 400
ny = 400
ng = 4

x0 = 0.0
x1 = 1.0
y0 = 0.0
y1 = 1.0

gamma = 1.4
cfl = 0.05
finalTime = 0.30

flux = hllc                                               # rusanov | hllc | ausm | godunovExact
timeIntegrator = rk4                                      # euler | rk2 | ssprk3 | rk4
bc = zeroGradient                                         # slipWall | inlet | outlet | zeroGradient

mpi.px = 4
mpi.py = 2


reconstruction.scheme               = weno5               # firstOrder | muscl | weno5
reconstruction.enableFallback       = true                # true | false
reconstruction.rhoMin               = 1e-12
reconstruction.pMin                 = 1e-12
reconstruction.limiter              = minmod              # none | minmod | vanleer | mc | superbee
reconstruction.positivityFix        = true                # true | false
reconstruction.eps                  = 1e-12

setFields.use = true

#setFields.bg.rho = 0.5
#setFields.bg.u   = 0.0
#setFields.bg.v   = 0.0
#setFields.bg.p   = 0.5

setFields.nRegions = 4

setFields.region1.xMin = 0.0
setFields.region1.xMax = 0.5
setFields.region1.yMin = 0.5
setFields.region1.yMax = 1.0
setFields.region1.rho  = 0.5323
setFields.region1.u    = 1.206
setFields.region1.v    = 0.0
setFields.region1.p    = 0.3

setFields.region2.xMin = 0.0
setFields.region2.xMax = 0.5
setFields.region2.yMin = 0.0
setFields.region2.yMax = 0.5
setFields.region2.rho  = 0.138
setFields.region2.u    = 1.206
setFields.region2.v    = 1.206
setFields.region2.p    = 0.029

setFields.region3.xMin = 0.5
setFields.region3.xMax = 1.0
setFields.region3.yMin = 0.5
setFields.region3.yMax = 1.0
setFields.region3.rho  = 1.5
setFields.region3.u    = 0.0
setFields.region3.v    = 0.0
setFields.region3.p    = 1.5


setFields.region4.xMin = 0.5
setFields.region4.xMax = 1.0
setFields.region4.yMin = 0.0
setFields.region4.yMax = 0.5
setFields.region4.rho  = 0.5323
setFields.region4.u    = 0.0
setFields.region4.v    = 1.206
setFields.region4.p    = 0.3


outPrefix = solution
outputEvery = 100
writeFinal = true
